<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Registro</h2>

  <label>
    Nombre completo
    <input formControlName="fullName" />
  </label>

  <label>
    Usuario
    <input formControlName="login" />
  </label>

  <label>
    Contraseña
    <input type="password" formControlName="password" />
  </label>

  <label>
    Departamento
    <input formControlName="departmentId" />
  </label>

  <button type="submit">Registrarse</button>

  <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
</form>
